<flynt-component 
  name="BlockNewsItem" 
  load:on="load" 
  class="
    newsComponent 
    py-sm lg:pr-sm lg:py-0 border-b lg:border-b-0 border-black">
  <div class="hoverable flex flex-col align-start justify-start lg:justify-between gap-md lg:h-[calc(100vh_-_120px)]">
    <div class="w-full">
      {% if date or title %}
      <div class="w-full flex flex-row items-center justify-between mb-sm">
        <div class="w-1/2 grow">{{ date }}</div>
        <div class="w-1/2 grow">{{ title }}</div>
      </div>
      {% endif %}
      {% if image %}
      <img class="follow-image object-cover h-[335px] w-[335px] mb-md"
        src="{{ image.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
        data-sizes="auto"
        alt="{{ image.alt|e }}">
      {% endif %}
      <div class="w-full">{{ contentHtml|e('wp_kses_post') }}</div>
    </div>
    {% if buttonLink %}
    <div class="w-full">
      <a class="button--publicMind inline-block no-underline hover:underline underline-offset-3 text-currentColor transition-all duration-200" href="{{ buttonLink.url }}"{% if buttonLink.target %} target="{{ buttonLink.target }}" rel="noreferrer noopener"{% endif %}>
        {{ buttonLink.title|e }}
      </a>
    </div>
    {% endif %}
  </div>
</flynt-component>
