<flynt-component 
  client:visible 
  name="BlockImageTextInterview" 
  class="
    interviewComponent 
    min-w-full lg:min-w-[83.3vw] h-[calc(100vh_-_104px)] lg:h-[calc(100vh_-_120px)] 
    flex justify-start align-top 
    px-sm lg:px-lg">
  <div class="flex align-start justify-start lg:justify-between gap-sm lg:gap-lg" {{ imagePosition ? 'data-image-position="' ~ imagePosition ~ '"' }}>
    <div class="w-full">
      {% if image %}
      <img class="figure-image lazyload object-cover aspect-[2/1] h-auto"
        src="{{ image.src }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
        data-sizes="auto"
        alt="{{ image.alt|e }}">
      {% endif %}
      {% if image.caption %}
        <figcaption>{{ image.caption|e }}</figcaption>
      {% endif %}
    </div>
    <div class="w-full">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</flynt-component>
