{% if posts|length > 0 %}
  <flynt-component 
    client:visible 
    name="ArchiveArtists" 
    class="
      artistsComponent  
      min-w-[60vw] lg:min-w-[30vw] min-h-full 
      flex justify-start align-top 
      pr-sm">
    <div class="flex flex-col">
      {% if blockTitle %}
      <div class="title lowercase">
        {{ blockTitle }}
      </div>
      {% endif %}
      <div class="wrapper">
        {% for post in posts %}
          <div class="post mb-md flex flex-col justify-start items-start" data-theme="reset">
            {% if post.thumbnail %}
              <figure class="figure w-full">
                <a class="" href="{{ post.link }}" aria-label="{{ post.title }}">
                  <img class="lazyload object-cover"
                    src="{{ post.thumbnail.src }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                    data-sizes="auto"
                    alt="{{ post.title }}">
                </a>
              </figure>
            {% endif %}
            <div class="content flex flex-col justify-between items-stretch">
              <a class="" href="{{ post.link }}" aria-label="{{ post.title }}">{{ post.title }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </flynt-component>
{% endif %}
