{% if posts|length > 0 %}
  <flynt-component 
    load:on="visible" 
    name="ArchiveArtists" 
    class="
      artistsComponent">
    <div class="flex flex-row lg:flex-col gap-sm lg:gap-0">
      {% if blockTitle %}
      <div class="title lowercase mt-[80px] lg:mt-0">
        {{ blockTitle }}
      </div>
      {% endif %}
      <div class="wrapper grow mt-[80px] lg:mt-0">
        {% for post in posts %}
          <div class="post mb-md flex flex-col justify-start items-start h-[calc(100vh_-_130px)] lg:h-auto w-full lg:w-auto">
            {% if post.thumbnail %}
              <figure class="figure w-full lg:w-auto">
                <a class="w-full lg:w-auto" href="{{ post.link }}" aria-label="{{ post.title }}">
                  <img class="lazyload object-cover w-full h-full lg:w-full lg:max-h-[30vh]"
                    src="{{ post.thumbnail.src }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                    data-sizes="auto"
                    alt="{{ post.title }}">
                </a>
              </figure>
            {% endif %}
            <div class="content flex flex-col justify-between items-stretch">
              <a class="" href="{{ post.link }}" aria-label="{{ post.title }}">{{ post.title }}</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </flynt-component>
{% endif %}
